.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: 1.25rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
    list-style-type: none;
}

.Welcome,
.LoginForm {
    margin-top: 20vh;
    margin-bottom: 75px;
}

.click-me {
    margin-top: 16px;
}

.ImgBtn {
    margin: 75px
}

.App.BGimg {
    background-image: url(https://i.imgur.com/MK3eW3Am.jpg);
}

button {
    padding: 0.5em 1em;
    border-radius: 16px;
    font-weight: bold;
    color: white;
    background: darkgrey;
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 200px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 8px;
}

