.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: 1.25rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
    list-style-type: none;
}

.Welcome,
.LoginForm {
    margin-top: 20vh;
    margin-bottom: 75px;
}

.click-me {
    margin-top: 16px;
}

